<p id="notice"><%= notice %></p>

<p>
  <strong>Origins:</strong>
  <%= @query.origins %>
</p>

<p>
  <strong>Destinations:</strong>
  <%= @query.destinations %>
</p>

<p>
  <strong>Origin dates:</strong>
  <%= @query.origin_dates %>
</p>

<p>
  <strong>Destination dates:</strong>
  <%= @query.destination_dates %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>

<%= line_chart display_query_path %>

<table>
  <% @query_results.order(:price).each do |q| %>
    <tr>
      <td><strong><%= number_to_currency q.price %></strong></td>
      <td><%= q.itinerary %></td>
      <td><em><%= q.created_at.to_formatted_s(:short) %></em></td>
    </tr>
  <% end %>
</table>